body { font-family: verdana, arial, geneva; font-size: smaller; }
td { font-family: verdana, arial, geneva; }

.smaller { font-size: 85%; }	/* mini-links */
.tools { white-space: nowrap; font-size: 85%; }	/* mini-links */

/* for stuff defined in include/page.inc */
.outer, .inner { border-collapse: collapse; margin-left:auto; margin-right: auto; }
.outer { width: 800px; background-color: #009; }
.outer td { border: 0px; padding: 1px; }
.inner { width: 100%; background-color: white; }
.inner th, .inner td { border: 0px; padding: 5px 10px; }
.heading,.footing { text-align: left; color: #eef; background-color: #009; }
.right { text-align: right; }
.message,.error { width: 100%; border-collapse: collapse; }
.message,.error td { background-color: #ccf; }
.footing a { color: #eef; }

.form { width: 100%; border-collapse: collapse; }
.form td { padding: 5px 10px; }

/* contents */
.contents { width: 100%; border-collapse: collapse; }
.contents th, .contents td { border: 1px solid #999; padding: 1px 10px; }
.contents th { text-align: left; font-weight: normal; background-color: #d0d0d0; border-color: #999; }
.contents tr.row0 td { background-color: #ececff; border-color: #999; }
.contents tr.row1 td { background-color: #f7f7f7; }
